<!DOCTYPE html>
<html>
<body>
<h3>Students Flask</h3>
{%- for category,message in get_flashed_messages(with_categories=True)%}
<div class="alert alert-danger">
    {{message}}
</div>
{%- endfor %}

<form action="/delete" method="POST">
    <fieldset>
        Student Id:<input type="number" name="studentid" placeholder="Id" required><br>
        Student Name:<input type="text" name="studentname" placeholder="Name" required><br>
        <button type="submit">Delete by id</button>
        <button type="submit" formaction="/search">Search by name</button>

    </fieldset>
</form>
</body>
</html>