<!DOCTYPE html>
<html>
<body>
<h3>Students Flask</h3>
{%- for category,message in get_flashed_messages(with_categories=True)%}
<div class="alert alert-danger">
    {{message}}
</div>
{%- endfor %}

<form action="{{ request.path}}" method="POST">
    <fieldset>
        Name:<input type="text" name="name" placeholder="Name" required><br>
        City:<input type="text" name="city" placeholder="City" required><br>
        Email:<input type="email" name="email" placeholder="Email" required><br>
        Submit<input type="submit">
    </fieldset>
</form>
</body>
</html>